/* SUPERINFO */
.superinfo-bg {
  background-color: #122ab2;
  color: #ffff;
}

.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  padding-top: 10px;
  margin: 0 auto;
  /* quando colocamos um max-width para centralizar os elementos usamos o margin: 0 auto; */
}

.superinfo p,
a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #ffff;
}

/* MENU */
.menu-bg {
  background-color: #2c70ff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  padding: 15px 0;
  margin: 0 auto;
}

.menu a {
  color: #ffff;
}

.menu-logo a {
  font-size: 2.25em;
  /* tamanho em px / 16 = tamanho em em */
  /* 36 / 16 = 2.25 */
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  font-size: 1.25em;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* INTRODUÇÃO */
.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  padding: 60px 10px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .introducao {
    font-size: 2em;
  }
}

/* SOBRE */
.sobre {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0;

  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

@media (max-width: 600px) {
  .sobre-info h2  {
    font-size: 2em;
  }
}

.sobre-info p {
  font-size: 1.35em;
  line-height: 1.4;
  margin-bottom: 1em;

  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* PRODUTOS */
.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos .titulo {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background-color: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* PREÇOS */
.preco {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 60px;

  background-color: #f7f7f7;
}

.preco-item {
  flex: 1 1 260px;
  padding: 20px;
  margin: 10px;

  border: 4px solid #ffff;
}

.preco-item h2 {
  text-align: center;
  font-size: 3em;
  margin-top: 20px;

  color: #a4a4a4;
}

.preco-item span {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  max-width: 300px;
  padding: 10px 0 5px 0;
  margin: 20px auto;

  border-top: 4px solid #ffff;
  border-bottom: 4px solid #ffff;
}

.preco-item sup {
  font-size: 0.5em;
}

.preco-item ul {
  font-size: 1.25em;
  max-width: 300px;
  margin: 20px auto;
  font-style: italic;

  color: #7c7c7c;
}

.preco li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;

  background-color: #2c70ff;
}

.preco-item a {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 2.25em;
  max-width: 300px;
  padding: 15px 0;
  border: 4px solid;

  color: #222222;
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }

  .preco .preco-item:nth-child(3) {
    order: -2;
  }

  .preco .preco-item:nth-child(2) {
    order: -1;
  }
}

/* QUALIDADE */
.qualidade {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;

  color: #a4a4a4;
}

.qualidade-item h2::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

/* começa no primeiro item e depois seleciona o terceiro item a partir do 1 */
.qualidade-item:nth-of-type(3n + 1) h2::before {
  background-color: #ae81ff;
}

/* começa no segundo item e depois seleciona o terceiro item a partir do 2 */
.qualidade-item:nth-of-type(3n + 2) h2::before {
  background-color: #f9265e;
}

/* começa no terceiro item e depois seleciona o terceiro item a partir do 3 */
.qualidade-item:nth-of-type(3n + 3) h2::before {
  background-color: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;

  color: #7c7c7c;
}

/* NEWSLETTER */
.newsletter {
  display: flex;
  flex-wrap: wrap;
  padding: 60px calc((100% - 960px) / 2);

  background-color: #f7f7f7;
  /* (o total do layout (100%) - tamanho do container (nesse caso 960px) dividos por 2)  */
  /* calc((100% - 960px) / 2) -> é como se fosse o margin: 0 auto; */
}

.newsletter-info {
  flex: 1 1 200px;
  margin: 0 10px;
}

.newsletter-info h2 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-style: italic;
  font-size: 1.25em;
  max-width: 200px;
  margin-bottom: 10px;

  color: #7c7c7c;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex: 2 1 260px;
  margin: 0 10px;
}

.newsletter-form input {
  font-style: italic;
  font-family: "Nunito", sans-serif;
  font-size: 1.25em;
  flex: 3 1 200px;
  padding: 10px;

  border: 4px solid #2c70ff;
  background-color: transparent;
  color: #7c7c7c;
}

.newsletter-form button {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2.25em;
  flex: 1 1 200px;
  border: 0px;
  padding: 15px 10px;

  color: #ffff;
  background-color: #2c70ff;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px calc((100% - 960px) / 2);

  background-color: #2c70ff;
}

.footer p {
  font-size: 2.25em;
  color: #122ab2;
}
